[report]
omit =
    luigi/mrrunner.py
    test/_test_time_generated_module*.py
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    *test/*
    */.tox/*
    */setup.py
    */bin/luigidc
    hadoop_test.py
    minicluster.py

[run]
parallel=True
concurrency=multiprocessing
